.contact {
    background-color: #2f2f2f;
}

.footer__wrapper {
}

.footer__info {
}

.footer__info-title {
}

.footer__info-list {
}

.footer__info-list-item {
}

.footer__info-list-icon {
}

.footer__info-list-data {
}

.footer-info__icons {
}

.footer__info-icon {
}

.footer__info-icon--twitter {
}

.footer__info-icon--facebook {
}

.footer__info-icon--instagram {
}

.footer__map {
    width: 66.92%;
    height: 140px;
    background-color: blue;
}

