.offers {
    padding: 55px 0 80px;
    background-color: #f7f7f7;

    @media (min-width: 768px) {

    }
    
    @media (min-width: 1200px) {
        padding: 75px 80px 160px;
    
    }

}

.offers__title {
    margin-bottom: 10px;
    text-align: center;
    @include section-title;
}

.offers__description {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 100%;
    max-width: 934px;

    @media (min-width: 768px) {
        width: 74%;
    }
    
}

.offers__description p {
    color: rgb(86, 86, 86);
    line-height: 1.778;
    text-align: center;
}

.offers__type-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    text-transform: uppercase;
    align-items: center;

    @media (min-width: 768px) {
        flex-flow: row wrap;
        justify-content: center;

    }
    
    @media (min-width: 1200px) {
        justify-content: space-around;
    }
}

.offers__type-item {
    margin-bottom: 80px;
    width: 100%;
    max-width: unset;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: 768px) {
        margin-bottom: 50px;
        width: 50%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 0;
        width: 18.25%;
        max-width: 230px;

    }
}

.offers__type-img {
    min-height: 184px;
    margin-bottom: 35px;
    display: block;
}

.offers__type-question {
    margin-bottom: 12px;
    font-size: 14px;
    font-family: "Muli";
    color: rgb(86, 86, 86);  
}

.offers__type-title {
    margin-bottom: 25px;
    min-width: 220px;
    width: 17.5%;
    font-size: 18px;
    font-family: "Catamaran";
    color: rgb(51, 51, 51);
    font-weight: 900;
    line-height: 1.2;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 20px;

    }
    
    @media (min-width: 1200px) {
        font-size: 24px;
    
    }
      
}

.offers__type-btn a{
    display: block;
    @include btn-orange-small;
    color: #fff;

}